services:
  database:
    image: postgres:latest
    container_name: bl-payment-service
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=payment-service
    command: postgres -p 5432
    ports:
      - 5430:5432